.form-group {
  display: flex;
  flex-direction:  column;
}

.box-search {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: .6rem
}

input {
  padding: .3rem;
  border: 1px solid $color-muted;
  border-radius: 3px;
  color: $color-muted;
}

.form-group {
  position: relative;
  margin-bottom: 0.4rem;

  .ant-select {
    width: 100%;
  }
}

.error-validat-mgs {
  opacity: 0;
  font-size: 0.4rem;
  // position: absolute;
  bottom: -1.3rem;
  left: 0;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.invalid {
  border-color: #ff4d4f !important;

  &:focus {
    box-shadow: 0 0 0 2px rgba($color: #ff4d4f, $alpha: 0.2) !important;
  }
  & ~ .error-validat-mgs {
    color: #ff4d4f;
    opacity: 1;
    margin-top: .2rem;
    font-size: 0.9rem;
  }
}