
$color-primary              : #ed008c;
$color-primary-soft         : #FC6CC0;
$color-primary-soft-2       : #EC0B8D;
$color-blue-primary         : #2F80ED;
$color-blue-primary-soft    : rgb(60, 167, 255);
$color-green-primary        : #27AE60;
$color-red-primary          : #D80000;
$color-black-light          : #191919;
$color-white                : #ffffff;
$color-black-base           : #000;
$color-muted                : #797979;
$color-gray                 : #c4c4c4;
$color-base-bg              : #f0f0f0;
$color-bg                   : #3c3c3c;
$color-border-gray          : #dddddd;
